.jaarrekening {
  display: flex;
  border-width: thin;

}

.activa {
  background-color: #c0c0c0;
  border: 1px solid GREY;
  padding: 2px 10px 10px;
  margin-left: 10px;
}

.passiva {
  background-color: #c0c0c0;
  border: 1px solid GREY;
  padding: 2px 10px 10px;
  margin-left: 10px;
}

.opbengsten {

}
.kosten {

}

.bedrag {
  content: "$";

}
