<div class="jaarrekening-sub form-column form-control-sm">
  <h5>Passiva</h5>
  <div class="form-group input-group-prepend input-group-sm">
    <label class="col-6" for="formGroupExampleInput">Immateriele vaste activa</label>
    <input type="text" class="form-control" id="immateriele-vaste-activa">
  </div>
  <div class="form-group  input-group-prepend input-group-sm">
    <label class="col-6" for="formGroupExampleInput2">Materiele vaste activa</label>
    <input type="text" class="form-control" id="materiele-vaste-activa">
  </div>
  <div class="form-group input-group-prepend input-group-sm">
    <label class="col-6" for="formGroupExampleInput2">Financiele vaste activa</label>
    <input type="text" class="form-control form-control-sm" id="financiele-vste-activa">
  </div>
  <div class="form-group input-group-prepend input-group-sm">
    <label class="col-6" for="formGroupExampleInput2">Totaal vaste activa</label>
    <input type="text" class="form-control form-control-sm" id="totaal-vaste-activa" placeholder="Totaal vaste activa" readonly>
  </div>
  <div class="form-group input-group-prepend input-group-sm">
    <label class="col-6" for="formGroupExampleInput2">Another label</label>
    <input type="text" class="form-control form-control-sm" id="formGroupExampleInput2" placeholder="Another input">
  </div>
  <div class="form-group input-group-prepend input-group-sm">
    <label class="col-6" for="formGroupExampleInput2">Another label</label>
    <input type="text" class="form-control form-control-sm" id="formGroupExampleInput2" placeholder="Another input">
  </div>
</div>
