.flex-column {
display: flex;
flex-direction: column;
/* height: 100vh; */
height: 100%;

padding-left: 15px;
background-color: #adc2d3;



}
.organisaties {
  /*  flex: 20%;*/
flex-grow: 2;
}
.organisatie-eenheden {
   /*  flex: 20%;*/

}
.jaarrekeningen {
    /*  flex: 20%;*/
}
