<div id="activa" class="container border form-column form-control-sm">Activa
  <div class="container border bold">Vaste activa
        <div class="form-group input-group-prepend form-group-xs">
          <label class="col-6" for="immateriele-vaste-activa">Immateriele vaste activa</label>
          <input type="text" id="immateriele-vaste-activa">
        </div>
        <div class="form-group  input-group-prepend form-group-xs">
          <label class="col-6" for="materiele-vaste-activa">Materiele vaste activa</label>
          <input type="text" id="materiele-vaste-activa">
        </div>
        <div class="form-group input-group-prepend form-group-xs">
          <label class="col-6" for="financiele-vste-activa">Financiele vaste activa</label>
          <input type="text" id="financiele-vste-activa">
        </div>
        <div class="form-group input-group-prepend form-group-xs">
          <label class="col-6" for="totaal-vaste-activa">Totaal vaste activa</label>
          <input type="text" id="totaal-vaste-activa" readonly>
        </div>
  </div>
  <div class="container border">Vlottend activa
      <div class="form-group input-group-prepend form-group-xs">
        <label class="col-6" for="voorraden">Voorraden</label>
        <input type="text" id="voorraden">
      </div>
      <div class="form-group  input-group-prepend form-group-xs">
        <label class="col-6" for="onderhanden-werk">Onderhanden werk</label>
        <input type="text" id="onderhanden-werk">
      </div>
      <div class="form-group input-group-prepend form-group-xs">
        <label class="col-6" for="vorderingen-fintekort">Vorderingen fintekort</label>
        <input type="text" id="vorderingen-fintekort">
      </div>
      <div class="form-group input-group-prepend form-group-xs">
        <label class="col-6" for="vorderingen-transitie">Vorderingen transitie</label>
        <input type="text" id="vorderingen-transitie">
      </div>
      <div class="form-group input-group-prepend form-group-xs">
        <label class="col-6" for="vorderingen-overlopend">Vorderingen overlopend</label>
        <input type="text" id="vorderingen-overlopend">
      </div>
      <div class="form-group input-group-prepend form-group-xs">
        <label class="col-6" for="vorderingen-overig">Vorderingen overig</label>
        <input type="text" id="vorderingen-overig">
      </div>
      <div class="form-group input-group-prepend form-group-xs">
        <label class="col-6" for="liquide-middelen">Liquide middelen</label>
        <input type="text" id="liquide-middelen">
      </div>
      <div class="form-group input-group-prepend form-group-xs">
        <label class="col-6" for="vlottende-activa-overig">Vlottende activa overig</label>
        <input type="text" id="vlottende-activa-overig">
      </div>
      <div class="form-group input-group-prepend form-group-xs">
        <label class="col-6" for="vlottende-activa-totaal">Vlottende activa totaal</label>
        <input type="text" id="vlottende-activa-totaal" readonly>
      </div>
  </div>

</div>

